@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
a{
  text-decoration:none;
}
body{
    letter-spacing: 5%;
}
h1:only-of-type,
h2:only-of-type,
h3:only-of-type,
h4:only-of-type,
h5:only-of-type,
h6:only-of-type {
  margin-bottom: 0;
}
p:only-of-type {
  margin-bottom: 0;
}

.body-xl{
    font-size: 20px;
    line-height: $line-height-base;
}
.body-md{
    font-size: 16px;
    line-height: $line-height-base;
}
.body-sm{
    font-size: 14px;
    line-height: $line-height-base;
}
.line-truncate{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}
// 遍歷所有斷點 (xs, sm, md, lg, xl, xxl)
@each $breakpoint, $value in $grid-breakpoints {
  // 建立斷點 infix，例如 "" (針對 xs) 或 "-md"
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  // 使用 Bootstrap 的 RWD Mixin
  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    @each $level, $size in $font-sizes {
      .h#{$level}#{$infix} {
        font-size: $size !important;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
      }
    }
  }
}