@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$utilities: map-merge(                    // 使用 Sass 的 map-merge 函式，將舊有的 $utilities 與新的設定合併
  $utilities,                             // 第一個參數：原本 Bootstrap 的 $utilities 陣列
  (                                       // 第二個參數：你要新增或覆蓋的設定
    //設定文字的斷點
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
    //建立顏色-neutral系列
    // 生成 .bg-色系-100 ~ .bg-色系-600
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            "neu-0": $neutral-0,
            "neu-100": $neutral-100,
            "neu-200": $neutral-200,
            "neu-300": $neutral-300,
            "neu-400": $neutral-400,
            "neu-500": $neutral-500,
            "neu-600": $neutral-600,
            //建立顏色-紫色系列
            "purple-100": $purple-100,
            "purple-200": $purple-200,
            "purple-300": $purple-300,
            //建立顏色-透明色系列
            "trn-100": $transparent-100,
            "trn-200": $transparent-200,
            //建立顏色-通知系列
            "success-100": $green-100,
            "success-200": $green-200,
            "success-300": $green-300,
            "warning-100": $yellow-100,
            "warning-200": $yellow-200,
            "warning-300": $yellow-300,
            "danger-100": $red-100,
            "danger-200": $red-200,
            "danger-300": $red-300,
            "info-100": $cyan-100,
            "info-200": $cyan-200,
            "info-300": $cyan-300,
          )
        )
      )
    ),
    // 生成 .text-色系-100 ~ .text-色系-600
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            "neu-0": $neutral-0,
            "neu-100": $neutral-100,
            "neu-200": $neutral-200,
            "neu-300": $neutral-300,
            "neu-400": $neutral-400,
            "neu-500": $neutral-500,
            "neu-600": $neutral-600,
            //建立顏色-紫色系列
            "purple-100": $purple-100,
            "purple-200": $purple-200,
            "purple-300": $purple-300,
            //建立顏色-透明色系列
            "trn-100": $transparent-100,
            "trn-200": $transparent-200,
            //建立顏色-通知系列
            "success-100": $green-100,
            "success-200": $green-200,
            "success-300": $green-300,
            "warning-100": $yellow-100,
            "warning-200": $yellow-200,
            "warning-300": $yellow-300,
            "danger-100": $red-100,
            "danger-200": $red-200,
            "danger-300": $red-300,
            "info-100": $cyan-100,
            "info-200": $cyan-200,
            "info-300": $cyan-300,
          )
        )
      )
    ),


    //建立顏色-灰系列
    "gray-color": (                            // 修改名稱為 "color" 的 utility 設定（即控制文字顏色的設定）
      property: color,                    // 輸出的 CSS 屬性是 color
      class: text-gray,                        // Class 前綴名稱是 .text-
      local-vars: (                       // 定義內部使用的 CSS 變數
        "text-opacity": 1,               // 產生 --bs-text-opacity: 1;
      ),
      values:$grays,
    ),
    "gray-bg": (
      property: background-color,
      class: bg-gray,           // 前綴會變成 .bg-gray-
      values: $grays            // 直接套用你的 $grays
    ),
    //新增透明度樣式
    "bg-opacity": (
      css-var: true,
      class: bg-opacity,
      values: (
        10: .1,
        25: .25,
        50: .5,
        75: .75,
        100: .08,
        200: .12,
        1:1
      )
    ),
    "opacity": map-merge(
      map-get($utilities, "opacity"),
      (
        values: map-merge(
          map-get(map-get($utilities, "opacity"), "values"),
          ( 100: 0.08, 200: 0.12 )
        )
      )
    ),
    //新增滑鼠樣式
    "cursor": (
      property: cursor,
      class: cursor, // 或改成 pointer-events/cursor
      values: (
        pointer: pointer,
        default: default,
        not-allowed: not-allowed,
      )
    ),
  
    //建立圓角-md尺寸
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"),
          (
            "md": $border-radius-md
          )
        )
      )
    ),



  )
);

:root {
  --#{$prefix}border-radius-md: #{$border-radius-md};
}
@import "bootstrap/scss/utilities/api";