footer{
 .navbar-brand>*{
  width: 152px;
 }
 .copyright{
  color: $gray-500;
  border-top: 1px solid $gray-600;
  padding-top: map-get($spacers, 4);
  text-align: center;
  line-height: calc(1.5em + map-get($spacers, 1) / 2);
 }
 & p:last-child{
  margin-bottom: 0;
 }
}