header,footer {
  & .navbar-brand > * {
    max-height: 24px;
  }
  
}
@include media-breakpoint-up(lg){
  header,footer {
    & .input-group > .form-control, .input-group > .form-select, .input-group > .form-floating{
      min-width: 259px;
    }
  }
}
//父層如果沒有深色，就不套用透明度
*:not(.bg-neu)>.sticky-top.bg-neu[class*="opacity"]
{
  --bs-bg-opacity: 1;
}