.bg-1 {
  background: url(/assets/images/index/index-bg/index-hero-bg.png) no-repeat
    center/cover;
}
.bg-2{
    background:
    url(/assets/images/index/index-bg/index-tool-bg-dec.png)
    no-repeat top right/calc(760/1920*100%),
    url(/assets/images/index/index-bg/index-tool-bg.png)
    no-repeat center/cover;
}
.bg-3{
    background:
    linear-gradient(#100C24,#110D2580), 
    url(/assets/images/index/index-bg/landing-highlight-bg.png)
    no-repeat center/cover;
}
.bg-4{
    background:
    linear-gradient(#25245733,#110920), 
    url(/assets/images/index/index-bg/index-new-bg-dec-left.png)
    no-repeat top left/calc(800/1920*100%)
    ,url(/assets/images/index/index-bg/index-new-bg-dec-right.png)
    no-repeat bottom right/calc(800/1920*100%)
    ,url(/assets/images/index/index-bg/index-new-bg.png)
    no-repeat bottom/100%;
}
.bg-5{
    background:
    url(/assets/images/index/index-bg/index-bg-5.png) no-repeat bottom/cover,
    linear-gradient(#7B5CA800,#9C84C0);
}
.bg-6{
    background: url(/assets/images/tools/tools-hero-bg.png)no-repeat top center/cover;
    @include media-breakpoint-down(lg){
        background-size: 120% 100%;
    }
}
.bg-7{
    background: url(/assets/images/index/detail-bg-sm.png)no-repeat center/cover;

    @include media-breakpoint-up(lg){
        background: url(/assets/images/index/detail-bg-lg.png)no-repeat center/cover;
    }
}
.accordion.bg-trn{
    --#{$prefix}accordion-color: #{$white};
    --#{$prefix}accordion-bg: #{$transparent-100};
    --#{$prefix}accordion-border-color: #{$transparent-200};
    --#{$prefix}accordion-border-radius: #{$accordion-border-radius};
    --#{$prefix}accordion-inner-border-radius: #{$accordion-inner-border-radius};
    --#{$prefix}accordion-btn-color: #{$white};
    --#{$prefix}accordion-btn-bg: #{$transparent-100};
    --#{$prefix}accordion-btn-focus-box-shadow: #{$accordion-button-focus-box-shadow};
    --#{$prefix}accordion-active-color: #{$white};
    --#{$prefix}accordion-active-bg: #{$transparent-200};
    & .accordion-button::after{
        filter: brightness(0) invert(1);
    }
}
//在左右加入置中的分隔線
.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &::after,&::before{
        content: "";
        flex: 1;
        border-top: 1px solid;
    }
}